h1{
    background-color: rgb(23, 216, 216);
    color: black;
}

p{
    background-color: aqua;
}

button{
    padding: 10px;
    background-color: blueviolet;
    color: white;
}

button:focus{
    background-color: rgb(166, 101, 227);
}